
@import url(https://fonts.googleapis.com/css?family=Quantico:400,400italic,700,700italic);


body {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #FDFCFB;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400px;
  font-family: 'Open Sans', sans-serif;
}


/*-------------------------------
  NAVIGATION
--------------------------------------------- */

#header-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99999;
}
.navbar {
  border-radius:0px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #2D3E30;
  border-color: #2D3E30;
}
.navbar-default .navbar-brand {
  margin-left: 30px;
  margin-right:50px;
  height: 48px;
  font-size: 52px;
  font-family: 'Quantico', sans-serif;
  font-weight: 700;
  font-style: italic; 
  color: #E1DBD2;
 }

.navbar-default {
  background-color: #2D3E30;
  border-color: #2D3E30;
}

.navbar-default:hover .navbar-brand:hover {
color: #8EB200;
}

.navbar-default .navbar-nav > li > a {
  padding: 20px 10px;
  font-size: 16px;
  line-height: 17px;
  color: #E1DBD2;
}

.navbar-default .navbar-nav > li > a:hover {
  padding: 20px 10px;
  font-size: 16px;
  line-height: 17px;
  color: #8EB200;
}

.navbar-default .navbar-nav > li > a:focus {
  padding: 20px 10px;
  font-size: 16px;
  line-height: 17px;
  color: #BFBDBA;
}

.navbar-default .navbar-nav > li > a > i {
  display: inline-block;
}

.navbar-default .navbar-header .navbar-brand:focus {
  color: #FFFFFF;
}

.navbar-default .navbar-text a {
  color: #FFFFFF;
  font-size: 16px;
}

.navbar-default .navbar-text a:hover { 
  color: #6C6865;
}

.flot-nav {
    float:right;
}

.navbar-default .navbar-toggle {
    border-color: #E1DBD2;
}

/*-------------------------------
  Baseball image on window load
--------------------------------------------- */
#baseball { 
  position: absolute; 
  top: 50%;
  z-index: 1000;
}

/*-------------------------------
  Jumbotron
--------------------------------------------- */

.jumbotron {
  background-image: 
    -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/field.jpg);
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/field.jpg);
  background-position: center bottom;
  background-size: cover;
  height: 400px;  
}

.jumbotron h1 {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  text-shadow: 3px 3px #FFFFFF;
  text-align: center;
  font-weight: 400;
  }

.jumbotron p {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/*-------------------------------
  Seasons Section
--------------------------------------------- */
/* space so link opens section correctly */
#seasons {
  margin-top: -125px; 
  padding-top: 125px; 
}

.winner {
  color: #566459;
  font-size: 20px;
  font-weight: 700;
}

/*-------------------------------
Featurettes - Year Scores
--------------------------------------------- */
#featurette {
  background-color: #F5F3EF;
}

hr.featurette-divider {
  border-top: 1px solid #E2E2E2 !important;
}

#sound-bites {
  margin-bottom: 0;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */  
}

#featurette .featurette-divider {
  background-color: #767474;
  color: #767474;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* try to reword so fits w/featurette, no carousel */
.carousel-inner>.item>a>img, .carousel-inner>.item>img, 
.img-responsive, .thumbnail a>img, .thumbnail>img {
  border-radius: 10px;
}

.col-md-7 .left {
  margin-right: 10px;
}

.row {
  margin-right: 25px;
  margin-left: 25px;
}
/* fix space clicking from nav link to year*/
#featurette15 {
  margin-top: -125px; 
  padding-top: 125px; 
}

#featurette14 {
  margin-top: -125px; 
  padding-top: 125px; 
}

#featurette13 {
  margin-top: -125px; 
  padding-top: 125px; 
}
#featurette12 {
  margin-top: -125px; 
  padding-top: 125px; 
}
#featurette11 {
  margin-top: -125px; 
  padding-top: 125px; 
}

/*-------------------------------
Season Start Countdown
--------------------------------------------- */
#countdown-clock {
  padding-top: 60px;
}

.countdown {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: #5B7660;
  text-align: center;
  font-size: 46px;
}

.countdown-text {
  text-align: center;
  color: #5B7660;
  font-size: 22px;
}

#countdown-clock h3 {
  color: #5B7660;
}

.countdown-text .countdown {
  display: inline-block;
}

.countdown-text .countdown-container {
  float: left;
}

/*-------------------------------
Modal
--------------------------------------------- */
.modal-dialog {
  padding-top: 70px;
}

.modal-title {
  text-align: center;
}

table {
  width: 100%;
}

th {
  text-align: center;
}

tr {
  padding: .25em;
  text-align: center;
}

th, td {
  padding: .33em;
}

/*-------------------------------
Footer
--------------------------------------------- */
/* BLOCKQUOTE Footer *//
footer {
  text-align: center;
}

/* PAGE Footer */ 
#footer {
  padding: 20px;
  background-color: #2D3E30;
  font-family: 'Roboto', sans-serif;
  color: #E1DBD2;
  text-align: center;
  margin-top: 0;
  padding-right:50px;
}

/*-------------------------------
Bottom Div to add space
--------------------------------------------- */

#bottom-page {
  background-color: #F5F3EF;
  height: 20px;
  padding-top: 100px;
}

/*-------------------------------
Media Queary 
--------------------------------------------- */

/*Toggle Navbar on iPad*/
@media (min-width: 768px) and (max-width: 992px) { 
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display:block !important;
  }
}

@media (max-width: 610px) {
  .navbar-default .navbar-brand {
    margin-top: 10px;
  }
  p.navbar-text {
    clear: both;
    padding-top: 25px;
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .navbar-default .navbar-brand {
    font-size: 26px; /*changed w/font change*/
    margin-left: 2px;
  }
}

/* toggle button on same line as brand*/
@media (max-width: 320px) {  
.navbar-toggle {
    position: absolute;
  }
}

/* -------------------------------
 Jumbotron 
 ---------------------------------------*/
@media (min-width: 800px) and (max-width: 960px) {
  .jumbotron {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .jumbotron {
  height: 450px;
  padding-top: 80px; 
  padding-bottom: 80px;  
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .jumbotron p {
    font-size: 20px;
    font-weight: 600; 
  }
}

@media (max-width: 666px) {
  .jumbotron {
  height: 520px;
  padding-top: 60px;
  padding-bottom: 80px; 
  }
}

@media (max-width: 600px) {
  .jumbotron h1 {
    padding-top: 30px;
  }
}

@media (max-width: 479px) {
  .jumbotron p {
    font-size: 16px;
    font-weight: 600;
  }
}

/* ---------------------------
Seasons 
---------------------------*/
@media (min-width: 1024px) {
  p {
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  div #seasons .container {
    margin-top: 35px !important;
  }
}
@media (min-width: 992px) { 
  .col-md-5 {
    width: 41.66666667%;
    margin-bottom: 25px;
    }
  }

/* center on tablets */
  @media (min-width: 600px) and (max-width: 990px) {
    #seasons .col-md-5 {
      text-align: center;
    }
  }
  @media (min-width: 600px) and (max-width: 990px) {
    #seasons .season-img { 
    display: inline;
    }
  }

  @media (min-width: 320px) and (max-width: 950px) {
    #seasons p {
      padding-bottom: 10px;
    }
  }

/* ----------------------------------
Featurette 
----------------------------------*/
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media (min-width: 992px) { 
.col-md-6 {
    width: 50%;
    padding: 30px;    
  }
}

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .countdown {
    font-size: 28px;
  }
  .countdown-text {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .countdown {
    font-size: 18px;
  }
  .countdown-text {
    font-size: 14px;
  }
}

/* giving space btw button and col */
@media (min-width: 320px) and (max-width: 730px) {
  .col-md-5 {
    padding-top: 10px;
  }
}
@media (min-width: 320px) and (max-width: 603px) {
  .featurette-image {
    padding-top: 20px;
  }
}

@media (min-width: @screen-sm-min) {
    #featurette .row .featurette {
  background-color: #F5F3EF;
  }
}

/* --------------------------------------------- 
   Countdown Clock
--------------------------------------------*/
@media (max-width: 499px) {
  .countdown-text .word {
    display: none;
  }
}

@media (min-width: 500px) {
  .small-text {
    display: none;
  }
}

@media (max-width: 600px) {
  .countdown {
    font-size: 20px;
  }
  .countdown-text {
    font-size: 14px;
  }
}

@media (max-width: 599px) {
  .countdown {
/*    font-size: 16px;*/
    padding-left: 15px;
    padding-right: 15px;
  }
  .countdown-text {
    font-size: 14px;
  }

  .clock {
    margin-left: -10px;
  }
}

@media (max-width: 384px) {
  .countdown {
    padding-left: 20px;
    padding-right: 10px
  }
  .clock {
    margin-left: -20px;
    margin-right: -10px;
  }
}

@media (max-width: 320px) {
  .countdown {
    margin-left: -10px;
  }
  #countdown-clock h3 {
    font-size: 18px;
  }
}

/* --------------------------------------------- 
   modal table 
--------------------------------------------*/
@media (min-width: 320px) and (max-width: 768px) {
  .modal-dialog {
    padding-top: 120px;
  }
}

@media (max-width: 520px) {
  .modal-body {
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  .modal-body {
    font-size: 8px;
  }
}

/* --------------------------------------------- 
  No baseball animate on mobile
--------------------------------------------- */

@media (max-width: 1024px) {
  #baseball {
    display: none;
  }
}




