@import url(http://fonts.googleapis.com/css?family=Lobster|Dancing+Script:700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
@import url(http://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,600);


body {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-bottom: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
  /*background-color: #F5F3EF;*/
  background-color: #FDFCFB;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400px;
	font-family: 'Open Sans', sans-serif;
}


/*-------------------------------
  NAVIGATION
--------------------------------------------- */

#header-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99999;
}
.navbar {
  border-radius:0px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #2D3E30;
  border-color: #2D3E30;
}
.navbar-default .navbar-brand {
  margin-left: 30px;
  margin-right:50px;
  height: 48px;
  font-size: 52px;
  font-family: 'Dancing Script', cursive, sans-serif;
  font-weight: 900;
  /*color: #CCFF00;*/
  color: #E1DBD2;
 }

.navbar-default {
  background-color: #2D3E30;
  border-color: #2D3E30;
}

.navbar-default:hover .navbar-brand:hover {
color: #8EB200;
}

.navbar-default .navbar-nav > li > a {
  padding: 20px 10px;
  font-size: 16px;
  line-height: 17px;
 /* color: #CCFF00;*/
  color: #E1DBD2;
}

.navbar-default .navbar-nav > li > a:hover {
  padding: 20px 10px;
  font-size: 16px;
  line-height: 17px;
  color: #8EB200;
}

.navbar-default .navbar-nav > li > a:focus {
  padding: 20px 10px;
  font-size: 16px;
  line-height: 17px;
  color: #BFBDBA;
}

.navbar-default .navbar-nav > li > a > i {
  display: inline-block;
}

.navbar-default .navbar-header .navbar-brand:focus {
  color: #FFFFFF;
}
.navbar-default .navbar-text {
  /*color: #CCFF00;*/
  color: #E1DBD2;
  font-family: 'Dancing Script', cursive, sans-serif;
  font-size: 20px;
} 

.navbar-default .navbar-text a {
  color: #FFFFFF;
  font-size: 16px;
}

.navbar-default .navbar-text a:hover { 
  color: #6C6865;
}

.flot-nav {
    float:right;
}

.navbar-default .navbar-toggle {
    border-color: #E1DBD2;
}


/* Baseball */
#baseball { 
  position: absolute; 
  left: -1000px 
}

/*-------------------------------
  Jumbotron
--------------------------------------------- */

/*.jumbotron {
  background-image: url(../img/field.jpg);
  background-position: center bottom;
	background-size: cover;
  height: 400px;

}*/

/* added gradient darker img easier to read text*/
.jumbotron {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/field.jpg);
  background-position: center bottom;
  background-size: cover;
  height: 400px;
  
}

.jumbotron h1 {
  /*font-family: 'Lobster', cursive;*/
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  text-shadow: 3px 3px #FFFFFF;
  text-align: center;
  font-weight: 400;
  }

.jumbotron p {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}



/*-------------------------------
  Season
--------------------------------------------- */
/*.container {
  padding-top: 20px;
}*/
#seasons {
  /*background-color: #FDFCFB;*/
  /*background-color: #F5F3EF;*/
}

.winner {
  color: #566459;
  font-size: 20px;
  font-weight: 700;
}

#seasons .row {
 /* background-color: #FDFCFB;*/
}


/*-------------------------------
Featurettes
--------------------------------------------- */
#featurette {
  background-color: #F5F3EF;
}


hr.featurette-divider {
  border-top: 1px solid #E2E2E2 !important;
}


.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */  
}

#featurette .featurette-divider {
  background-color: #767474;
  color: #767474;
}


/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, 
.img-responsive, .thumbnail a>img, .thumbnail>img {
	border-radius: 10px;
}


.col-md-7 .left {
  margin-right: 10px;
}

.row {
  margin-right: 25px;
  margin-left: 25px;
}

/*-------------------------------
Modal
--------------------------------------------- */
.modal-dialog {
  padding-top: 70px;
}

.modal-title {
  text-align: center;
}

table {
  width: 100%;
}

th {
  text-align: center;
}

tr {
  padding: .25em;
  text-align: center;
}

th, td {
  padding: .33em;
}


/*-------------------------------
Footer
--------------------------------------------- */
/* Blockquote Footer *//
footer {
	text-align: center;
}

/* Page Footer */  
/*footer#footer {
  background-color: #2D3E30;
  border-color: #2D3E30;
  color: #E1DBD2;
  text-align: center;
  padding: 20px;
}*/

/* Page Footer */ 
#footer {
  padding: 20px;
  background-color: #2D3E30;
  font-family: 'Roboto', sans-serif;
  color: #E1DBD2;
  text-align: center;
  margin-top: 0;
  padding-right:50px;
}

/*-------------------------------
Bottom Div to add space
--------------------------------------------- */

#bottom-page {
  background-color: #F5F3EF;
  height: 20px;
  padding-top: 100px;
}

/*-------------------------------
Media Queary 
--------------------------------------------- */

/*Toggle Navbar on iPad*/
@media (min-width: 768px) and (max-width: 992px) { 
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display:block !important;
  }
}

@media (max-width: 610px) {
  .navbar-default .navbar-brand {
    margin-top: 10px;
  }
}


@media (max-width: 610px) {
  p.navbar-text {
    clear: both;
    padding-top: 25px;
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .navbar-default .navbar-brand {
    font-size: 36px;
    margin-left: 2px;
  }
}

/*@media (max-width: 610px) {
  button.navbar-toggle {
    display: inline-block;
  }
}*/

/* --- Jumbotron ----*/
@media (max-width: 768px) {
  .jumbotron {
/*  background-image: url(../img/field.jpg);*/
/*  opacity: 0.6;*/
  height: 450px;
  padding-top: 80px; 
  padding-bottom: 80px; 
  /*margin-bottom: 100px; */  
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .jumbotron p {
    font-size: 20px;
    font-weight: 600; 
  }
}

@media (max-width: 479px) {
  .jumbotron p {
    font-size: 16px;
    font-weight: 600;
  }
}

@media (max-width: 666px) {
  .jumbotron {
/*  background-image: url(../img/field.jpg);*/
  height: 520px;
  padding-top: 90px; 
  padding-bottom: 80px; 
  }
}

@media (max-width: 600px) {
  .jumbotron h1 {
    padding-top: 30px;
  }
}



/* Seasons 
---------------------------*/

@media (max-width: 768px) {
  div #seasons .container {
    margin-top: 35px !important;
  }
}
@media (min-width: 992px) { 
  .col-md-5 {
    width: 41.66666667%;
    margin-bottom: 25px;
    }
  }

/*@media (min-width: 992px) { 
  #seasons .col-md-5 {
  height: 20px;
  }
}*/
/* need to change margins for sm screen */


/*@media (max-width: 992px) {
  hr {
    color:;
  }
}*/

/* ----------------------------------
Featurette */
@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media (min-width: 992px) { 
.col-md-6 {
    width: 50%;
    padding: 30px;    }
}

@media (min-width: @screen-sm-min) {
  /*#featurette {*/
    #featurette .row .featurette {
  background-color: #F5F3EF;
  }
}

/* giving space btw button and col */
@media (min-width: 320px) and (max-width: 730px) {
  .col-md-5 {
    padding-top: 10px;
  }
}

/* --------------------------------------------- 
   modal table 
--------------------------------------------*/

@media (max-width: 520px) {
  .modal-body {
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  .modal-body {
    font-size: 8px;
  }
}


/* --------------------------------------------- */







}

